     <div class=" d-flex justify-content-around btn-panel">
        <a class="btn btn-lg mt-5" id="contact-button" asp-controller="Home" asp-action="Contact" >Contact Me</a>
        <a class="btn btn-lg mt-5">Download CV</a>
        <a class="btn btn-lg mt-5" asp-controller="Home" asp-action="Portfolio" >Browse Portfolio</a>
     </div>
