<div class="row align-items-center justify-content-md-center mb-5" id="main-card">
        <div class="col-md-6 order-1">
            <div class="d-flex align-items-center" id="top-detail">
                <div class="blue-line"></div>
                <p>HELLO</p>
            </div>
            <div id="main-content">
            <h1 class="display-4 mb-3">I'm Mario Pech, <br /> a <span>computer engineer</span></h1>
            <p class="mb-0">I'm a energetic and enthusiast person with knowledge on web and application development.</p>
            </div>
            <partial name="_ButtonPanel" />
        </div>
        <div class="col-md-6 text-center order-md-last">
            <img id="pfp" src="~/images/pfp.jpg">
        </div>
    </div>
