     <div class="d-flex justify-content-between" id="main-info">
         <div class="col profile-info">
            <div class="profile-header text-center">
                <h1>Presentation</h1>
            </div>
            <div class="profile-body">
                <p>Recent graduate with energy and enthusiasm to learn new skills, technologies, 
                   and strategies of today's technology companies. I consider myself responsible, 
                   proactive, collaborative and always eager to improve both professionally and personally.</p>
            </div>
        </div>
     </div>

    <div class="d-flex row justify-content-between" id="main-info">
        <div class="d-flex flex-column col-md-6 profile-info">
            <div class="profile-header text-center">
                <h1>Professional Skills</h1>
            </div>
            <div class="d-flex profile-body">
                <div class="col-md-4">
                <ul>
                    <li>C#</li>
                    <li>Java</li>
                    <li>C / C++</li>
                    <li>DB SQL / NO-SQL</li>
                    <li>Javascript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
                </div>
                <div class="col-md-6">
                <ul style="list-style: none;">
                    <li><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i></li>
                    <li><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i></li>
                    <li><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i></li>
                    <li><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i>    </li>
                    <li><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></li>
                    <li><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></li>
                    <li><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i><i class="bi bi-star"></i>   </li>
                </ul>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column col-md-6 profile-info">
            <div class="profile-header text-center">
                <h1>Personal Skills</h1>
            </div>
            <div class="profile-body">
                <ul>
                    <li>Proactive</li>
                    <li>Responsible</li>
                    <li>Collaborative</li>
                    <li>Creative</li>
                    <li>Curious</li>
                </ul>
            </div>
        </div>
        <div class="d-flex flex-column col-md-6 profile-info">
            <div class="profile-header text-center">
                <h1>Languages</h1>
            </div>
            <div class="profile-body">
                <ul>
                    <li>Spanish: Native</li>
                    <li>English: Intermediate B2</li>
                </ul>
            </div>
        </div>
       <div class="d-flex flex-column col-md-6 profile-info">
            <div class="profile-header text-center">
                <h1>Hobbies</h1>
            </div>
            <div class="profile-body">
                <ul>
                    <li>Music</li>
                    <li>Videogames</li>
                    <li>Books</li>
                    <li>Health and Fitness</li>
                </ul>
            </div>
        </div>
    </div>

     <div class="d-flex row justify-content-between" id="main-info">
         <div class="col profile-info">
            <div class="profile-header text-center">
                <h1>Education & Experience</h1>
            </div>
            <div class="d-flex profile-body">
                <div class="col-md-6" style="border-right: 1px solid gray;">
                <ul>
                    <li><b>Universidad Autónoma de Yucatán</b> <br />
                        Bachelor's degree in computer engineering from the faculty of mathematics <br />
                        2016 - 2021
                    </li>
                </ul>
                </div>
                <div class="col-md-6">
                <ul>
                    <li><b>Intership</b> <br />
                        Centro de Investigaciones Regionales Dr. Hideyo Noguchi <br />
                        Volunteer in the development of electronic instrumentation and interfaces for biomedical applications.
                    </li>
                </ul>
                </div>
            </div>
        </div>
     </div>
